body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

h1 {
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #5eaaa8;
    margin: 50px auto 0 auto;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #5eaaa8;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5eaaa8;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #f8f1f1;
}

.undertext {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
}

.top-container {
    background-color: #f8f1f1;
    padding-top: 100px;
    line-height: 2;
}

.middle-container {
    padding-top: 50px;
}

.bottom-container {
    padding-top: 50px;
    background-color: #5eaaa8;
}

#profile-image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.dice-image {
    background-color: #5eaaa8;
    border-radius: 100%;
    width: 20%;
    margin-right: 30px;
    float: left;
}

.cards-image {
    background-color: #5eaaa8;
    border-radius: 100%;
    width: 20%;
    margin-left: 30px;
    float: right;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    padding-bottom: 50px;
}

.profile {
    margin: 50px auto 50px auto;
}

.profile-desc {
    width: 50%;
    line-height: 2;
    margin: auto;
}

.contact-me {
    width: 50%;
    line-height: 2;
    margin: auto;
}

.contact-desc {
    line-height: 2;
    text-align: left;
}

#hello-title {
    text-align: center;
}

.footer-link {
    display: inline-block;
    width: 100px;
    padding: 10px;
    margin: auto;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-bottom: 10px;
}

.myButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.myButton:active {
    position: relative;
    top: 1px;
}